<ng-container *ngIf="packageService.credentials$ | async as credentials">
  <ng-container *ngIf="specId && specVersion && credentials.value">
    <p>{{ calculatePipInstall(credentials.value, specId, specVersion) }}</p>

    <button
      [attr.data-cy]="'pip-install-' + specId"
      ngxClipboard
      [cbContent]="calculatePipInstall(credentials.value, specId, specVersion)"
      mat-raised-button
      color="basic"
      (click)="deleteButtonClick()"
    >
      Copy
    </button>
  </ng-container>
</ng-container>
