p {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 10px;
  margin: 10px;
  width: 15vw;
  background-color: lightgray;
  word-break: break-all;
}

button {
  margin: 10px;
}
