<ng-container *ngIf="packageService.credentials$ | async as credentials">
  <ng-container *ngIf="specId && specVersion && credentials.value">
    <p [attr.data-cy]="'pip-install-command-' + specId">
      {{ calculatePipInstall(credentials.value, specId, specVersion) }}
    </p>

    <button
      [attr.data-cy]="'copy-pip-install-command-' + specId"
      ngxClipboard
      [cbContent]="calculatePipInstall(credentials.value, specId, specVersion)"
      mat-raised-button
      color="basic"
    >
      Copy
    </button>
  </ng-container>
</ng-container>
