[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "1.17.7"
pytest = "6.2.2"
pyyaml = "5.4.1"

[dev-packages]

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[scripts]
test = "pytest"
