[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
connexion = {extras = ["swagger-ui"], version = "*"}
flask-cors = "*"
boto3 = "*"
botocore = "*"
serverless-wsgi = "*"
pyjwt = "*"
cryptography = "*"

[dev-packages]
black = "*"
pytest = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[scripts]
test = "pytest"
