[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
connexion = {extras = ["swagger-ui"], version = "*"}
flask-cors = "*"
boto3 = "1.16.35"
botocore = "*"
serverless-wsgi = "*"
pyjwt = "*"
cryptography = "*"
pynamodb = "*"
pyyaml = "*"
openalchemy = "2.0.1"

[dev-packages]
black = "*"
pytest = "6.2.0"
factory-boy = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[scripts]
test = "pytest"
